.recover-password {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #1C191A;
    color: white;
    font-family: 'Arial', sans-serif;
}

.login-header {
    padding: 20px;
}

.logo a {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #FFFFFF;
    text-decoration: none;
}

.recover-form {
    margin-bottom: 15px;
    text-align: left;
    border-radius: 10px;
}

.recover-form label {
    display: block;
    margin-bottom: 5px;
    color: #FFFFFF;
}

.recover-form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid #444444;
    background-color: #121212;
    color: #FFFFFF;
}

.submit-btn {
    background-color: #FFFFFF;
    color: #121212;
    padding: 10px 20px;
    border: none;
    border-radius: 30px;
    width: 100%;
    cursor: pointer;
    font-weight: bold;
    margin-bottom: 20px;
}